 *{
    box-sizing: border-box;
    
 }


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    align-items: center;
}

.ball {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
}

.bottle {
    position: absolute;
    left: 0;
    right: 0;
    top: 460px;
    margin: auto;

}

#bounce {
    animation: bounce 1s;
    transform: translateY(0px);
    animation-iteration-count: 1;
    position: absolute;
    margin-bottom: 15px;
}

@keyframes bounce {
    0% {
        top: 720px;
        -webkit-animation-timing-function: ease-in;
    }


    55% {
        top: 650px;
        -webkit-animation-timing-function: ease-in;
    }
    65% {
        top: 720px;
        -webkit-animation-timing-function: ease-out;
    }
    95% {
        top: 680px;
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        top: 720px;
        -webkit-animation-timing-function: ease-in;
    }
}

.done {
    text-decoration: line-through;
}

.pending {
    color: red;
}